	body{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		line-height:1.5; /*distance between each line*/
		padding:0;
		margin:0;
		background-color:black;
	}
	
	/* Global */
	.container{
		width:90%;
		margin:auto;
		overflow:hidden;
	}
	
	ul{
		margin:0;
		padding:0;
	}
	
	.dropdown_btn{
		height:35px;
		background:black/*#129ABC*/;
		padding:5px;
		color:#ffffff;
		margin-bottom:15px;
		display:block;
		font-size:20px;
		border:none;
		width:100%;
		text-align:center;
	}
	
	.dropdown_container {
		display:none;
		background-color:/*#e8491d*/;
		padding:0px 0px 0px 0px;
		margin-bottom:10px;
	}
	
	.dropdown_container p{
		font-size:20px;
		color:#e8491d;
	}
	
	.dropdown_btn:hover {
		color:#f1f1f1;
}
	
	.button_projects {
		color:#f1f1f1;
		background:#e8491d;
		font-size:20px;
		padding:20px;
	}
	
	/*Header*/
	header{
		min-height:70px;
		padding:20px;
		color:#ffffff;
	}
	
	header a{
		color:#ffffff;
		text-decoration:none;
		text-transform:uppercase;
		font-size:20px;
		padding:5px;
	}
	
	header a:hover{
		color:#ffffff;
		font-weight:bold;
	}
	
	
	header #logo_title{
		float:left;
	}
	
	header #logo_title h1{
		margin:0;
	}
	
	header nav{
		float:right;
	}
	
	header li{
		margin-top:10px;
		float:left;
		display:inline;
		padding: 0 20px 0 20px;
	}
	
	header .highlight, header .current_highlight a{
		color:#e8491d;
		font-weight:bold;
	}
	
	
	/*Showcase*/
	#showcase{
		min-height:400px;
		background:url('../images/showcase7.jpg') no-repeat 0px -200px; /* 0 refers to x-axis of image and the -10 moves the image 10px up*/
		text-align:center;
		border-bottom:#e8491d 3px solid;
		border-top:#e8491d 3px solid;

	}
		
	/*Main Section area*/
	
	#main_section{
		margin-top:30px;
	}
	
	#main_section article{
		float:left;
		width:45%;
		color:#ffffff;	
	}
	
	
	#main_section aside{
		text-align:center;
		float:right;
		width:50%;
		color:#ffffff;
	}
	
	#main_section aside h1{
		font-size:25px;
		color:#e8491d; 
	}
	
	#main_section article h1{
		font-size:25px;
		color:#e8491d; 
	}
	
	#main_section article p{
		font-size:18px;
	}
	
	/*projects main_section*/
	
	#projects_main_section{
		margin-top:30px;
	}
	
	#projects_main_section article{
		float:left;
		width:45%;
		color:#e8491d;	
		font-size:25px;
	}
	
	#projects_main_section article h2{
		color:#ffffff;
		font-size:18px;	
	}
	
	#projects_main_section article a{
		text-decoration:none;
	}
	
	#projects_main_section aside{
		text-align:center;
		font-size:20px;
		float:right;
		width:50%;
		color:#e8491d;
	}
	
	
	/*about main_section*/
	
	#about_main_section{
		margin-top:30px;
	}
	
	#about_main_section article{
		float:left;
		width:100%;
		color:#ffffff;	
		font-size:20px;
	}
	
	#about_main_section article h1{
		color:#e8491d;	
		font-size:30px;
	}
	
	/*Footer*/
	footer{
		background:#e8491d;
		text-align:center;
		padding:15px;
		margin-top:20px;
		color:#ffffff;
	}
	
	
	/*media queries*/
	
	@media(max-width: 770px){
		header #logo_title, 
		header nav, 
		header li, 
		#main_section,
		#main_section article,
		#main_section aside,
		#projects_main_section article,
		#projects_main_section aside,
		#about_main_section article{
			float:none;
			text-align:center;
			width:100%;		
		}
		
		header{
			padding-bottom:20px;
		}
		
		#main_section{
			margin-top:40px;
		}
		
		#newsletter button, .quote button{
			display:block;
			width:100%;
		}
		
		.dropdown_btn{
			margin-bottom:30px;
		}
		
		header nav{
			
		}
	
		header li{
			display:block;
			margin-top:10px;
			font-size: 25px;
		}
		
	}
	